/******************************
  VARIABLES
******************************/
$white: #FFFFFF;
$black: #000000;
$black-grey: #101010;
$grey: #F1F1F1;
$light-grey: #FAFAFA;
$peach: #D87D4A;
$light-peach: #FBAF85;

/******************************
  RESET AND SCROLLBAR
******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/******************************
  BASE STYLES
******************************/
.body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.container {
  width: min(100% - 3rem, 689px);
  margin-inline: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 400ms;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/******************************
  FOOTER
******************************/
.footer {
  background-color: $black-grey;
  padding: 3.25rem 0 2.375rem;
  text-align: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .logo {
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
    margin-bottom: 3rem;
  }

  &__item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 2px;
    color: $white;

    &:hover,
    &:focus {
      color: $peach;
    }
  }

  &__icon {
    svg {
      vertical-align: middle;
    }
  
    path {
      transition: all 400ms;
    }
  
    &:hover,
    &:focus {
      cursor: pointer;

      path {
        fill: $peach;
      }
    }

    &:nth-of-type(2) {
      margin-inline: 1rem;
    }
  }
}
